.heartContainer {
  position: relative;
  text-align: center;
  margin-top: 22px;
  margin-left: 20px;
}

.heartImage {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.heartIcon {
  background-color: #ABABAB;
  border: 0px;
  height: 30px;
  width: 20px;
}

.heartText {
  position: absolute;
  cursor: pointer;
  font-size: larger;
  left: 22px;
  bottom: 0px;
  color: #f5f5f5;
}