.songsPageMain {
    display: flex;
    flex-direction: column;
    background-color: #DFDFDF;
    margin: 0px 100px 0px 100px;
    padding: 0px 160px 100px 160px;
}

.songsPageHeading {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .songsPageMain {
        margin: 0px 10px 0px 10px;
    }
}