.iconContainer {
    padding-top: 65px;
    margin-right: 50px;
}

.commonIcon {
    width: 40px;
    height: 40px;
    background-color: #F5F5F5;
    border: 0px;
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}