.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: #ABABAB;
    color: black;
    padding: 10px;
    margin: 10px 1px 10px 1px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.cardImage {
    align-self: center;
    width: 120px;
    height: 120px;
    border-radius: 70px;
}

.cardContent {
    display: flex;
    flex-direction: row;
}

.cardText {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding-left: 30px;
    margin-top: 20px;
}

.cardSongName {
    margin: 0px;
    font-size: 28px;
    width: 170px;
    font-weight: light;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.cardArtistName {
    margin: 0px;
    font-size: 17px;
    width: 170px;
    font-weight: bolder;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}