.cardContainer {
    background-color:#ABABAB;
    color:black;
    padding:10px;
    display:flex;
    margin-left:1px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom:10px;
    width:250px;
    height:250px;
    flex-direction:column;
    border-radius: 10px;
}

.cardImage {
    margin-left:65px;
    width:120px;
    height:120px;
    border-radius: 70px;
}

.cardContent {
    display:flex;
    flex-direction: row;
}

.cardText {
    width:150px;
    height:50px;
    padding:0px;
    padding-left: 30px;
    margin:0px;
    margin-top:20px;
    display: flex;
    flex-direction: column;
}

.cardSongName {
    margin:0px;
    font-size: 18px;
}

.cardArtistName {
    margin:0px;
    font-size: 14px;
    font-weight: bolder;
}