.genresPageMain {
    display: flex;
    flex-direction: column;
    background-color: #DFDFDF;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: 0px 100px 0px 100px;
}

.genresPageHeading {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .genresPageMain {
        margin: 0px 10px 0px 10px;
    }
}