.recordsHeader {
    width:calc(100vw);
    height:calc(100vh/14);
    background-color:#38497E;
}

.headerP {
    padding-left:10px;
    padding-top:15px;
    margin:0px;
    font-size: 25px;
    color:#F5F5F5;
}

.headerSpan {
    font-weight: bolder;
}