.recordsHeader {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #38497E;
}

.recordsHeaderText {
    padding-left: 10px;
    padding-top: 15px;
    margin: 0px;
    font-size: 35px;
    color: #F5F5F5;
}

.recordsHeaderSpan {
    padding: 0px 10px 0px 10px;
    font-weight: bolder;
}