.categoryText {
    font-size: 55px;
    font-weight: bolder;
    color: black;
}

@media only screen and (max-width: 830px) {
    .categoryText {
        min-width: 240px;
        font-size: 50px;
    }
}

@media only screen and (max-width: 330px) {
    .categoryText {
        min-width: 120px;
        font-size: 50px;
    }
}