.homePageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.homePageText {
    font-size: 25px;
}

.homePageButton {
    background-color: #4C63AA;
    color: #F5F5F5;
    font-size: 25px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
    border: 0.5px solid black;
    cursor: pointer;
}