.genreDetailContainer {
    position: relative;
    margin-top:50px;
    margin-left:140px;
    margin-bottom: 20px;
  }

.genreDetailImage {
  width:120px;
  height:120px;
  border-radius: 70px;
}

.genreDetailText {
    background-color: #4C63AA;
    color:#F5F5F5;
    font-size: 25px;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
    border: 0.5px solid black;
    position: absolute;
    left:75px;
    bottom:18px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .genreDetailContainer {
      margin-left:150px;
  }
}